LwcConfig.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LightningComponentBundle">
        <!-- <xs:complexType>
            <xs:sequence>
                <xs:element name="apiVersion" type="xs:string" />
                <xs:element name="isExposed" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType> -->
    </xs:element>
</xs:schema>